@sicredi:registry=https://nexus.sicredi.in/repository/npm-group/
//nexus.sicredi.in/repository/npm-group/:_auth=cm9iZXJ0b19saW1hOiohNW0uSnlHIVdhLmc=
always-auth=true
email=roberto_lima@sicredi.com.br
registry=https://nexus.sicredi.in/repository/npm-group
strict-ssl=false